@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { margin: 0; padding: 0 }

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

.text-montserrat {
    font-family: 'Montserrat';
}

.text-roboto {
    font-family: 'Roboto';
}

.text-wix {
    font-family: 'Wix Madefor Text';
}

input:hover,
input:focus,
input:focus-visible,
textarea:hover,
textarea:focus,
textarea:focus-visible {
    outline: 0.5px solid rgba(80, 80, 80, 0.5);
    border: 0.2px solid rgba(80, 80, 80, 0);
}

/* 10% */
.color-accent {
    color: #146C94;
}

.bg-accent {
    background-color: #146C94;
    border-color: #146C94;
    color:  #F6F1F1;
}

.border-accent {
    border-color: #146C94;
}

/* 60 */
.color-dominant {
    color: #F6F1F1;
}

.bg-dominant {
    background-color: #F6F1F1;
}

/* 30% */
.color-secondary {
    color: #AFD3E2
}

.bg-secondary {
    background-color: #AFD3E2;
    border-color: #AFD3E2;
}

.border-secondary {
    border-color: #AFD3E2;
}

bg-disabled {
    color:rgb(67, 67, 67);
    background-color: #ededed;
    border-color: #7b7b7b;
}

.bg-main {
    background-color: #e5edf0;
}

.place-selector-container {
    max-width: none !important;
}

.step-title {
    @apply text-center text-montserrat font-semibold text-lg text-gray-700;
}

.input-error {
    @apply text-red-500 font-normal text-xs;
}

.form-input-field {
    @apply p-2 mt-1 border border-gray-200 rounded-md w-full text-gray-400 text-xs text-montserrat select-none bg-gray-100 max-h-48;
}

.form-input-error {
    @apply border-red-400;
}
